@import url(reset.css);
.wrapper {
  width: 1060px;
  height: 950px;
  background-color: white;
  margin: 0 auto;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.logo {
  height: 130px;
  width: 968px;
  margin: 0 auto;
  position: relative;
}
.logoImg {
  margin-top: 50px;
}
.header {
  width: 968px;
  height: 40px;
  margin: 0 auto;
  background-color: #5b5b5b;
  overflow: hidden;
}
.header ul {
  list-style-type: none;
  font: 15px 'Times New Roman', sans-serif;
  height: 40px;
}
.header ul li {
  width: 150px;
  height: 40px;
  float: left;
}
.header ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 11px 5px;
  color: white;
}
.header ul li a:hover {
  background-color: #343434;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

.twoBlocks {
  position: relative;
  height: 680px;
  width: 968px;
  margin: 0 auto;
}
.aside ul {
  height: 240px;
  width: 240px;
  margin-top: 40px;
  border: 1px solid #656363;
  font: 14px 'Times New Roman', sans-serif;
  position: absolute;
  overflow: hidden;
}
.aside ul li {
  list-style-type: none;
  border-top: 1px solid #656363;
  border-bottom: 1px solid white;
  margin: -1px 0 -2px;
}
.aside ul li a {
  display: block;
  text-decoration: none;
  margin-left: 30px;
  line-height: 40px;
  color: #656363;
}
.aside ul li a:hover {
  color: #2c2c2c;
  margin-left: 40px;
}
.main {
  margin: 0 0 0 290px;
}
p {
  font: 14px 'Times New Roman', sans-serif;
  line-height: 2;
  color: #2c2c2c;
}
.bicycle {
  margin-top: 40px;
  margin-bottom: 40px;
  outline: 1px solid #656363;
}
.footer {
  width: 968px;
  height: 40px;
  margin: 0 auto;
  background-color: #e1e1e1;
  overflow: hidden;
}
.footer ul {
  list-style-type: none;
  font: 14px 'Times New Roman', sans-serif;
  height: 40px;
}
.footer ul li {
  width: 150px;
  height: 40px;
  float: left;
}
.footer ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 11px 5px;
  color: #2c2c2c;
}
.footer ul li a:hover {
  text-decoration: underline;
}
.pFooter {
  float: right;
  margin-top: -35px;
  margin-right: 20px;
}
