@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);
body {
  /*background: url("../img/bg.jpg") no-repeat center center fixed;*/
  background: url("../img/blur.jpeg") no-repeat center center fixed;
  background-size: 100%;
}
.wrapperHeader {
  width: 100%;
  height: auto;
  position: fixed;
}
header {
  width: 1024px;
  height: 100px;
  margin: 0 auto;
  background: white;
  box-shadow: 0px 5px 5px 0px rgba(105, 21, 16, 0.75);
}
.logo {
  width: 100px;
  height: 100px;
  float: left;
}
header img {
  width: 100px;
  height: 100px;
  float: left;
}
.topLine {
  display: inline-block;
  height: 40px;
  width: 924px;
  border-bottom: 1px solid #691510;
}
.topLine img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.topLine img:hover {
  transform: rotate(360deg);
  transition: .5s;
}
.topLine div {
  margin: 10px 0 0 300px;
}
span {
  font: bold 14px "Open Sans", sans-serif;
  color: black;
}
.menu ul {
  margin-left: 200px;
  height: 60px;
  overflow: hidden;
}
.menu li {
  float: left;
  line-height: 60px;
}
.menu li a {
  display: block;
  padding: 17px 20px 19px 20px;
  margin: 0 1px;
  text-decoration: none;
  font: bold 18px "PT Sans", sans-serif;
  color: #691510;
}
.menu li a:hover,
.menu li a.active {
  transition: .2s;
  background: #691510;
  color: white;
}

.wrapperMain {
  width: 100%;
  height: auto;
}
main {
  width: 1024px;
  height: auto;
  margin: 0 auto;
}
main .picture_01,
main .description_01 {
  width: 400px;
  height: 400px;
  background: white;
  overflow: hidden;
  float: left;
  margin-left: 75px;
  margin-top: 150px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 5px 0px rgba(105, 21, 16, 0.75);
}
main .picture,
main .description {
  width: 400px;
  height: 400px;
  background: white;
  overflow: hidden;
  float: left;
  margin-left: 75px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 5px 0px rgba(105, 21, 16, 0.75);
}
main img {
  width: 380px;
  height: 380px;
  margin: 10px 10px;
}
main p {
  font: 34px "Open Sans Condensed", sans-serif;
  margin: 10px 20px;
  color: #691510;
  text-align: center;
}
.wrapperFooter {
  width: 100%;
  height: 200px;
}
footer {
  clear: both;
  width: 1024px;
  height: 200px;
  margin: 0 auto;
  background: #2e140e;
  position: relative;
}
address {
  margin-top: 20px;
  position: absolute;
}
footer p {
  font: 14px "Open Sans", sans-serif;
  color: white;
  margin: 5px 0 5px 20px;
}
footer span {
  font: bold 14px "Open Sans", sans-serif;
  color: white;
  margin-left: 20px;
}
footer .ornament {
  margin-top: 180px;
  height: 18px;
  width: 1024px;
  position: absolute;
  background: url("../img/Ukrainian-pattern-V1.png") repeat-x;
}
footer img {

}
