body {
  background: grey;
}
.wrapper {
  background: white;
  margin: auto;
  width: 512px;
  height: 755px;
  border: 1px solid grey;
}
h2 {
  text-align: center;
  margin-top: 50px;
}
.foto {
  height: 128px;
  display: block;
  margin: 0 auto;
}
hr {
  width: 414px;
}
p {
  font: 18px 'Times New Roman';
  margin: 12px auto 12px 64px;
}
a {
  font: 18px 'Times New Roman';
  margin-left: 64px;
}
.list {
  font: 18px 'Times New Roman';
  margin-left: 48px;
  margin-top: 30px;
}
.learn {
  margin: 24px auto 24px 64px;
}
.number {
  margin-bottom: 30px;
}
