@import url(reset.css);
@font-face {
  font-family: "League gothic regular";
  src: url("../fonts/league-gothic.regular.ttf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Open Sans ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}

body {
  background: url("../img/bg.jpg") top center no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
/*@media screen and (min-width: 960px) /

/*    BEGIN 320 PIXELS    */

.wrapper__s {
  width: 320px;
  margin: 0 auto;
}
nav img {
  margin: 52px 0 0 85px;
  position: absolute;
}
.menu {
  font: 24px "League gothic regular", Arial, sans-serif;
  display: inline-block;
  margin: 147px 0 0 141px;
  position: absolute;
}
.menu__item:not(:first-child) {
display: none;
}
.menu__item--one {
  text-align: center;
}
.menu__link--one {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
.menu__link--one:hover {
  border-bottom: 2px solid #edbfff;
  line-height: .95;
}

.wrapper__slider {
  width: 100%;
}
header {
  width: 320px;
  margin: 0 auto;
}
.legend {
  display: inline-block;
  width: 205px;
  height: 60px;
  float: left;
  margin-left: 65px;
  margin-top: 300px;
  overflow: hidden;
}
.legend h1 {
  font: 36px "League gothic regular", Arial, sans-serif;
  color: white;
}
.legend h2 {
  font: 18px "League gothic regular", Arial, sans-serif;
  color: #edbfff;
}
.legend p {
  font: 16px "Open Sans Light", Arial, sans-serif;
  color: white;
}
.ifone__m,
.ifone__xl {
  display: none;
}
.left__arrow {
  display: inline-block;
  position: absolute;
  margin-left: -270px;
  margin-top: 317px;
}
.right__arrow {
  display: inline-block;
  position: absolute;
  margin-left: 27px;
  margin-top: 317px;
}
.navi__button {
  display: inline-block;
  position: absolute;
  margin-top: 430px;
  margin-left: -155px;
}





}
/*    END 320 PIXELS    */

@media screen and (min-width: 480px) and (max-width: 767px) {

/*    BEGIN 480 PIXELS    */

  .wrapper__m {
    width: 480px;
    height: 203px;
    margin: 0 auto;
    position: relative;
  }
  nav img {
    display: block;
    margin: 52px 0 0 165px;
    position: absolute;
  }
  .menu {
    width: 244px;
    height: 253px;
    border: 1px solid #131d23;
    border-radius: 10px;
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 130px 118px 0 118px;
    background-color: rgba(54, 41, 62, .75 );
  }
  .menu__item {
    text-align: center;
    padding: 6px 0;
    border-top: 1px solid #5f486a;
    border-bottom: 1px solid #36283e;
  }
  .menu__item:last-child {
    border-bottom: none;
  }
  .menu__link {
    font: 24px "League gothic regular", Arial, sans-serif;
    text-decoration: none;
    color: #ffffff;
  }
  .menu__item:hover {
    background-color: #241c2a;
    border-bottom: 2px solid #edbfff;
  }
  .wrapper__slider {
    width: 100%;
    height: 245px;
    background-color: rgba(0, 0, 0, .5);
  }
  header {
    width: 480px;
    height: 245px;
    margin: 0 auto;
  }
  .legend {
    display: inline-block;
    width: 205px;
    height: 60px;
    float: left;
    margin-left: 40px;
    margin-top: 95px;
    overflow: hidden;
  }
  .legend h1 {
    font: 36px "League gothic regular", Arial, sans-serif;
    color: white;
  }
  .legend h2 {
    font: 18px "League gothic regular", Arial, sans-serif;
    color: #edbfff;
  }
  .legend p {
    font: 16px "Open Sans Light", Arial, sans-serif;
    color: white;
  }
  .ifone__m {
    float: right;
    margin-top: -8px;
    margin-right: 33px;
  }
  .ifone__xl {
    display: none;
  }
  .left__arrow {
    display: inline-block;
    position: absolute;
    margin-left: -245px;
    margin-top: 105px;
  }
  .right__arrow {
    display: inline-block;
    position: absolute;
    margin-left: 212px;
    margin-top: 105px;
  }
  .navi__button {
    display: inline-block;
    position: absolute;
    margin-top: 265px;
    margin-left: -44px;
  }







}
/*    END 480 PIXELS    */

@media screen and (min-width: 768px) and (max-width: 959px) {

/*    BEGIN 768 PIXELS    */

  .wrapper__l {
    width: 768px;
    height: 300px;
    margin: 0 auto;
  }
  nav img {
    margin: 52px 0 0 20px;
    position: absolute;
  }
  .menu {
    font: 24px "League gothic regular", Arial, sans-serif;
    display: block;
    float: left;
    overflow: hidden;
    margin-left: 20px;
  }
  .menu__item {
  float: left;
  margin: 145px 53px 0 0;
  }
  .menu__link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
  }
  .menu__link:hover {
    border-bottom: 2px solid #edbfff;
    line-height: .95;
  }
  .wrapper__slider {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, .5);
  }
  header {
    width: 768px;
    height: 400px;
    margin: 0 auto;
  }
  .legend {
    display: inline-block;
    width: 275px;
    height: 200px;
    float: left;
    margin-left: 45px;
    margin-top: 100px;
    overflow: hidden;
  }
  .legend h1 {
    font: 48px "League gothic regular", Arial, sans-serif;
    color: white;
  }
  .legend h2 {
    font: 24px "League gothic regular", Arial, sans-serif;
    color: #edbfff;
  }
  .legend p {
    font: 16px "Open Sans Light", Arial, sans-serif;
    color: white;
  }
  .ifone__m {
    display: none;
  }
  .ifone__xl {
    float: right;
    margin-top: -20px;
    margin-right: 52px;
  }
  .left__arrow {
    display: inline-block;
    position: absolute;
    margin-left: -320px;
    margin-top: 183px;
  }
  .right__arrow {
    display: inline-block;
    position: absolute;
    margin-left: 425px;
    margin-top: 183px;
  }
  .navi__button {
    display: inline-block;
    position: absolute;
    margin-top: 438px;
    margin-left: 248px;
  }

  .wrapper__pink {
    width: 100%;
    height: 342px;
    margin-top: 168px;
    border: 1px solid #33253a;
    background: url("../img/pink.png") repeat-x;
  }
  article {
    width: 768px;
    height: 100%;
    margin: 0 auto;
  }
  .about__one,
  .about__two,
  .about__three {
    width: 210px;
    height: 210px;
    margin-top: 68px;
    float: left;
  }
  .about__one {
    margin-left: 15px;
  }
  .about__two,
  .about__three {
    margin-left: 50px;
  }
  .about__one .sprite {
    display: inline-block;
    margin-top: 5px;
    width: 30px;
    height: 28px;
    background: url("../img/sprite.png") 2px 0 no-repeat;
  }
  .about__two .sprite {
    display: inline-block;
    margin-top: 5px;
    width: 30px;
    height: 28px;
    background: url("../img/sprite.png") -28px 0 no-repeat;
  }
  .about__three .sprite {
    display: inline-block;
    margin-top: 5px;
    width: 30px;
    height: 28px;
    background: url("../img/sprite.png") -58px 0 no-repeat;
  }
  .about__text {
    margin-left: 55px;
    margin-top: -33px;
  }
  .about__text h2 {
    font: 24px "League gothic regular", Arial, sans-serif;
    color: white;
  }
  .about__text p {
    font: 16px "Open Sans Light", Arial, sans-serif;
    color: white;
  }
  .about__text span {
    font: 18px "League gothic regular", Arial, sans-serif;
    color: white;
    float: right;
  }
  .about__text a:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .7);
  }


  .wrapper__main {
    width: 100%;
    height: 485px;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
  }
  main {
    width: 768px;
    height: 485px;
    margin: 0 auto;
  }
  .wrapper__aside {
    width: 100%;
    height: 121px;
    border-top: 1px solid #fefefe;
  }
  aside {
    width: 768px;
    height: 121px;
    margin: 0 auto;
    position: relative;
  }
  aside img {
    position: absolute;
    display: block;
    margin: 25px 0 0 93px;
  }
  .block__one {
    width: 360px;
    height: 285px;
    float: left;
    margin-top: 95px;
  }
  .block__one {
    background: url("../img/back_trian.png") no-repeat;
  }
  .block__one img {
    display: inline-block;
    float: left;
    margin-top: 18px;
  }
  .block__one h2 {
    font: 24px "League gothic regular", Arial, sans-serif;
    color: #454545;
  }
  .block__one span {
    color: #edbfff;
  }
  .block__one p {
    font: 16px "Open Sans Light", Arial, sans-serif;
    color: #454545;
  }
  .block__one div {
    display: inline-block;
    float: left;
    width: 255px;
    height: 205px;
    margin: 28px 0 0 12px;
    overflow: hidden;
  }
  .block__two {
    width: 335px;
    height: 270px;
    float: left;
    margin-top: 125px;
  }
  .block__two--one,
  .block__two--two,
  .block__two--three {
    width: 335px;
    height: 55px;
    margin-top: 14px;
  }
  .block__two h2 {
    font: 30px "League gothic regular", Arial, sans-serif;
    color: #454545;
  }
  .block__two img {
    display: inline-block;
    float: left;
  }
  .block__two p {
    display: inline-block;
    font: 16px "Open Sans ExtraBold", Arial, sans-serif;
    color: #454545;
    margin-left: 15px;
  }
  .block__two span {
    display: inline-block;
    font: 16px "Open Sans Light", Arial, sans-serif;
    color: #454545;
    margin-left: 15px;
  }
  .naviwhite {
    margin-left: 195px;
  }












}
/*    END 768 PIXELS    */

@media screen and (min-width: 960px) {
/*@media screen and (min-width: 320px) and (max-width: 479px) /

/*    BEGIN 960 PIXELS    */

  .wrapper__xl {
    width: 960px;
    height: 278px;
    margin: 0 auto;
  }
  nav img {
    margin-top: 52px;
  }
  .menu {
    font: 24px "League gothic regular", Arial, sans-serif;
    display: block;
    float: right;
    overflow: hidden;
  }
  .menu__item {
  float: left;
  margin: 80px 0 0 53px;
  }
  .menu__link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
  }
  .menu__link:hover {
    border-bottom: 2px solid #edbfff;
    line-height: .95;
  }
.wrapper__slider {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, .5);
}
header {
  width: 960px;
  height: 400px;
  margin: 0 auto;
}
.legend {
  display: inline-block;
  width: 490px;
  height: 220px;
  float: left;
  margin-top: 85px;
}
.legend h1 {
  font: 60px "League gothic regular", Arial, sans-serif;
  color: white;
}
.legend h2 {
  font: 32px "League gothic regular", Arial, sans-serif;
  color: #edbfff;
}
.legend p {
  font: 18px "Open Sans Light", Arial, sans-serif;
  color: white;
}
.ifone__m {
  display: none;
}
.ifone__xl {
  float: right;
  margin-top: -16px;
  margin-right: 75px;
}
.left__arrow {
  display: inline-block;
  position: absolute;
  margin-left: -790px;
  margin-top: 183px;
}
.right__arrow {
  display: inline-block;
  position: absolute;
  margin-left: 770px;
  margin-top: 183px;
}
.navi__button {
  display: inline-block;
  position: absolute;
  margin-top: 493px;
  margin-left: 219px;
}
.wrapper__pink {
  width: 100%;
  height: 342px;
  margin-top: 168px;
  border: 1px solid #33253a;
  background: url("../img/pink.png") repeat-x;
}
article {
  width: 960px;
  height: 100%;
  margin: 0 auto;
}
.about__one,
.about__two,
.about__three {
  width: 280px;
  height: 200px;
  margin-top: 78px;
  float: left;
}
.about__two,
.about__three {
  margin-left: 60px;
}
.about__one .sprite {
  display: inline-block;
  margin-top: 5px;
  width: 30px;
  height: 28px;
  background: url("../img/sprite.png") 2px 0 no-repeat;
}
.about__two .sprite {
  display: inline-block;
  margin-top: 5px;
  width: 30px;
  height: 28px;
  background: url("../img/sprite.png") -28px 0 no-repeat;
}
.about__three .sprite {
  display: inline-block;
  margin-top: 5px;
  width: 30px;
  height: 28px;
  background: url("../img/sprite.png") -58px 0 no-repeat;
}
.about__text {
  margin-left: 55px;
  margin-top: -33px;
}
.about__text h2 {
  font: 30px "League gothic regular", Arial, sans-serif;
  color: white;
}
.about__text p {
  font: 16px "Open Sans Light", Arial, sans-serif;
  color: white;
}
.about__text span {
  font: 18px "League gothic regular", Arial, sans-serif;
  color: white;
  float: right;
}
.about__text a:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, .7);
}
.wrapper__main {
  width: 100%;
  height: 485px;
  background: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
}
main {
  width: 960px;
  height: 485px;
  margin: 0 auto;
}
.wrapper__aside {
  width: 100%;
  height: 121px;
  border-top: 1px solid #fefefe;
}
aside {
  width: 960px;
  height: 121px;
  margin: 0 auto;
  position: relative;
}
aside img {
  position: absolute;
  display: block;
  margin: 25px 0 0 93px;
}
.block__one,
.block__two {
  width: 480px;
  height: 310px;
  float: left;
  margin-top: 100px;
}
.block__one {
  background: url("../img/back_triangle.png") 22px 0 no-repeat;
}
.block__one br {
  display: none;
}
.block__one img {
  display: inline-block;
  float: left;
  margin-top: 18px;
}
.block__one h2 {
  font: 30px "League gothic regular", Arial, sans-serif;
  color: #454545;
}
.block__one span {
  color: #edbfff;
}
.block__one p {
  font: 16px "Open Sans Light", Arial, sans-serif;
  color: #454545;
}
.block__one div {
  display: inline-block;
  float: left;
  width: 345px;
  height: 205px;
  margin: 28px 0 0 16px;
}
.block__two--one,
.block__two--two,
.block__two--three {
  width: 440px;
  height: 55px;
  margin-top: 14px;
}
.block__two h2 {
  font: 30px "League gothic regular", Arial, sans-serif;
  color: #454545;
  margin-top: 28px;
}
.block__two img {
  display: inline-block;
  float: left;
}
.block__two p {
  display: inline-block;
  font: 16px "Open Sans ExtraBold", Arial, sans-serif;
  color: #454545;
  margin-left: 15px;
}
.block__two span {
  display: inline-block;
  font: 16px "Open Sans Light", Arial, sans-serif;
  color: #454545;
  margin-left: 15px;
}
.naviwhite {
  margin-left: 195px;
}
.wrapper__section {
  width: 100%;
  height: 395px;
  background: #ececec;
}
section {
  width: 960px;
  height: 395px;
  margin: 0 auto;
}
.sec__one,
.sec__two,
.sec__three {
  width: 300px;
  height: 215px;
  float: left;
  margin-top: 90px;
}
.sec__two,
.sec__three {
  margin-left: 30px;
}

.sec__one h2,
.sec__two h2,
.sec__three h2 {
  font: 30px "League gothic regular", Arial, sans-serif;
  color: #454545;
}
.sec__one p,
.sec__two p,
.sec__three p {
  display: inline-block;
  overflow: hidden;
  margin-top: 8px;
  font: 16px "Open Sans Light", Arial, sans-serif;
  color: #454545;
}
section img {
  display: block;
}
section span {
  display: inline-block;
  margin-top: 15px;
  font: italic 14px "Georgia Italic", Arial, sans-serif;
  color: #c5c5c5;
}
.wrapper__footer {
  width: 100%;
  height: 115px;
  background: url("../img/footerbg.jpg")  top center no-repeat;
}
footer {
  width: 960px;
  height: 115px;
  margin: 0 auto;
}
.footer__menu {
  font: 20px "League gothic regular", Arial, sans-serif;
  display: block;
  float: left;
  overflow: hidden;
}
.fmenu__item {
  float: left;
  margin: 47px 43px 0 0 ;
}
.fmenu__link {
  display: inline-block;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  text-decoration: none;
  color: #ffffff;
}
footer p {
  display: inline-block;
  float: right;
  margin-top: 50px;
  font: 12px "Times New Roman", Arial, sans-serif;
  color: white;
}
}
/*    END 960 PIXELS    */
