@import url(reset.css);
@font-face {
  font-family: "League gothic regular";
  src: url("../fonts/league-gothic.regular.ttf");
}
body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {

/*    BEGIN 320 PIXELS    */

.wrapper {
  width: 320px;
  height: 300px;
  margin: 0 auto;
}


}
/*    END 320 PIXELS    */

@media screen and (min-width: 480px) and (max-width: 767px) {

/*    BEGIN 480 PIXELS    */

  .wrapper {
    background-color: yellow;
    width: 480px;
    height: 300px;
    margin: 0 auto;
  }
  nav img {
    /*margin-top: 52px;*/
    display: block;
    margin: 52px auto;
  }



}
/*    END 480 PIXELS    */

@media screen and (min-width: 768px) and (max-width: 959px) {

/*    BEGIN 768 PIXELS    */

  .wrapper {
    background-color: red;
    width: 768px;
    height: 300px;
    margin: 0 auto;
  }
  nav img {
    margin-top: 52px;
    position: absolute;
  }



}
/*    END 768 PIXELS    */

@media screen and (min-width: 960px) {

/*    BEGIN 960 PIXELS    */

  .wrapper {
    width: 960px;
    height: 300px;
    margin: 0 auto;
  }
  nav img {
    margin-top: 52px;
    position: absolute;
  }


}
/*    END 960 PIXELS    */
