@import url(reset.css);
@font-face {
  font-family: "League gothic regular";
  src: url("../fonts/league-gothic.regular.ttf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf");
}

body {
  background: url("../img/bg.jpg") top center no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
/*@media screen and (min-width: 960px) {*/

/*    BEGIN 320 PIXELS    */

.wrapper__mountain {
  outline: 1px solid green;
  width: 320px;
  height: 300px;
  margin: 0 auto;
}
nav img {
  margin: 52px 0 0 85px;
  position: absolute;
}
.menu {
  font: 24px "League gothic regular", Arial, sans-serif;
  display: inline-block;
  margin: 147px 0 0 141px;
  position: absolute;
}
.menu__item:not(:first-child) {
display: none;
}
.menu__item--one {
  text-align: center;
}
.menu__link--one {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}
.menu__link--one:hover {
  border-bottom: 2px solid #edbfff;
  line-height: .95;
}



}
/*    END 320 PIXELS    */

@media screen and (min-width: 480px) and (max-width: 767px) {

/*    BEGIN 480 PIXELS    */

  .wrapper {
    outline: 1px solid yellow;
    width: 480px;
    height: 300px;
    margin: 0 auto;
    position: relative;
  }
  nav img {
    display: block;
    margin: 52px 0 0 165px;
    /*position: relative;*/
    position: absolute;
  }
  .menu {
    width: 244px;
    height: 253px;
    border: 1px solid #131d23;
    border-radius: 10px;
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 130px 118px 0 118px;
    background-color: rgba(54, 41, 62, .75 );
  }
  .menu__item {
    text-align: center;
    padding: 6px 0;
    border-top: 1px solid #5f486a;
    border-bottom: 1px solid #36283e;
  }
  .menu__item:last-child {
    border-bottom: none;
  }
  .menu__link {
    font: 24px "League gothic regular", Arial, sans-serif;
    text-decoration: none;
    color: #ffffff;
  }
  .menu__item:hover {
    background-color: #241c2a;
    border-bottom: 2px solid #edbfff;
  }


}
/*    END 480 PIXELS    */

@media screen and (min-width: 768px) and (max-width: 959px) {

/*    BEGIN 768 PIXELS    */

  .wrapper {
    outline: 1px solid red;
    width: 768px;
    height: 300px;
    margin: 0 auto;
  }
  nav img {
    margin: 52px 0 0 20px;
    position: absolute;
  }
  .menu {
    font: 24px "League gothic regular", Arial, sans-serif;
    display: block;
    float: left;
    overflow: hidden;
    margin-left: 20px;
  }
  .menu__item {
  float: left;
  margin: 145px 53px 0 0;
  }
  .menu__link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
  }
  .menu__link:hover {
    border-bottom: 2px solid #edbfff;
    line-height: .95;
  }


}
/*    END 768 PIXELS    */

@media screen and (min-width: 960px) {

/*    BEGIN 960 PIXELS    */

  .wrapper__mountain {
    width: 960px;
    height: 278px;
    margin: 0 auto;
  }
  nav img {
    margin-top: 52px;
  }
  .menu {
    font: 24px "League gothic regular", Arial, sans-serif;
    display: block;
    float: right;
    overflow: hidden;
  }
  .menu__item {
  float: left;
  margin: 80px 0 0 53px;
  }
  .menu__link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
  }
  .menu__link:hover {
    border-bottom: 2px solid #edbfff;
    line-height: .95;
  }
.wrapper__slider {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, .5);
}
header {
  width: 960px;
  height: 400px;
  margin: 0 auto;
}
.legend {
  display: inline-block;
  width: 490px;
  height: 220px;
  float: left;
  margin-top: 85px;
}
.legend h1 {
  font: 60px "League gothic regular", Arial, sans-serif;
  color: white;
}
.legend h2 {
  font: 32px "League gothic regular", Arial, sans-serif;
  color: #edbfff;
}
.legend p {
  font: 18px "Open Sans Light", Arial, sans-serif;
  color: white;
}
.ifone__xl {
  float: right;
  margin-top: -16px;
  margin-right: 75px;
}
.left__arrow {
  display: inline-block;
  position: absolute;
  margin-left: -775px;
}
.right__arrow {
  display: inline-block;
  position: absolute;
  margin-left: 775px;
}


}
/*    END 960 PIXELS    */
